<footer class="footer-redesign">
  <div class="footer-inner">
    <div class="footer-top-redesign">
      <div class="footer-brand">
        <a href="/" class="logo">Apna<span>Intern</span></a>
        <p class="footer-desc">India's fastest growing platform connecting students and freshers with top internship and job opportunities.</p>
        <div class="footer-social">
          <a href="#" class="social-icon-redesign"><i class="fab fa-linkedin-in"></i></a>
          <a href="#" class="social-icon-redesign"><i class="fab fa-twitter"></i></a>
          <a href="#" class="social-icon-redesign"><i class="fab fa-instagram"></i></a>
          <a href="#" class="social-icon-redesign"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
      <div class="footer-col-redesign">
        <h4>For Students</h4>
        <ul>
          <li><a href="/student/internship">Browse Internships</a></li>
          <li><a href="/student/job">Browse Jobs</a></li>
          <li><a href="#">Resume Builder</a></li>
          <li><a href="#">Career Advice</a></li>
          <li><a href="#">Interview Tips</a></li>
        </ul>
      </div>
      <div class="footer-col-redesign">
        <h4>For Employers</h4>
        <ul>
          <li><a href="/company/job/new">Post a Job</a></li>
          <li><a href="#">Browse Candidates</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="/company">Employer Dashboard</a></li>
        </ul>
      </div>
      <div class="footer-col-redesign">
        <h4>Company</h4>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Use</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom-redesign">
      <div>© 2025 ApnaIntern. All rights reserved.</div>
      <div>Made with ❤️ in India</div>
    </div>
  </div>
</footer>